<div>
	<br>
	<md-expansion-panel-group md-component-id="panelGroup">
		<md-expansion-panel md-component-id="borrowerDocumentPanel">
			<md-expansion-panel-collapsed style="cursor: pointer;">
				<div class="md-title expansionHeader">Document
					<label ng-show="bdc.doc==true">*</label>
				</div>
				<div flex></div>
				<md-expansion-panel-icon style="cursor:pointer;"></md-expansion-panel-icon>
			</md-expansion-panel-collapsed>
			<md-expansion-panel-expanded>
				<md-expansion-panel-header ng-click="bdc.collapse($panel, borrowerDocument)">
					<div class="md-title expansionHeader">Document</div>
					<div flex></div>
					<md-expansion-panel-icon style="cursor:pointer;" ng-click="bdc.collapse($panel, borrowerDocument)"></md-expansion-panel-icon>
				</md-expansion-panel-header>
				<md-expansion-panel-content>
					<form class="form-horizontal" name="borrowerDocument">
						<div ng-show="bdc.doc==true">
							<div class="form-group row">
								<label class="control-label col-sm-2" for="loanRef">Loan Reference:</label>
								<div class="col-sm-4">
									<select class="browser-default custom-select form-control" name="loanRef" ng-model="bdc.select" ng-change="bdc.getTermSheet(bdc.select)">
										<option value="" selected="selected" disabled>Please select Loan Reference</option>
										<option value={{data}} ng-repeat="data in bdc.LoanRefernce">{{data.loanRef}}</option>
									</select>
								</div>
								<span class="fa fa-download fa-lg" ng-show="bdc.select" ng-click="bdc.downloadDoc()" style="cursor:pointer; float: inherit">
									<md-tooltip md-direction="left"> Download </md-tooltip>
								</span>
							</div>
							<div ng-show="bdc.select">
								<div class="form-group row">
									<label class="control-label col-sm-2" for="documentType">Document Type:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" ng-model="bdc.documentType" id="documentType" disabled>
									</div>
								</div>
								<div class="form-group row">
									<label class="control-label col-sm-2" for="status">Status:</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" ng-model="bdc.status" id="status" disabled>
									</div>
								</div>
								<br>
								<div class="form-group row">
									<div class="col-sm-2 offset-sm-2">
										<button type="submit" class="btn btn-success btn-block" ng-click="bdc.approveDoc()">Approve</button>
									</div>
								</div>
								</center>
							</div>
							<div ng-show="bdc.doc==false" style="color:red !important; font-weight:bold;">
								<label>No New Documents</label>
							</div>
						</div>
					</form>
				</md-expansion-panel-content>
			</md-expansion-panel-expanded>
		</md-expansion-panel>
	</md-expansion-panel-group>
	<br>
	<div class="panel panel-default customPanel">
		<div class="panel-heading md-title tableHeading">Document History</div>
		<div class="panel-body">
			<md-table-container>
				<table md-table md-progress="bdc.loadPromise">
					<thead md-head>
						<tr md-row>
							<th md-column>Loan Ref.</th>
							<th md-column>Document Hash</th>
							<th md-column>Status</th>
							<th md-column>Action</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-select="data" md-select-id="data" md-auto-select ng-repeat="data in bdc.loadHistory | limitTo: bdc.loadTableQuery.limit: (bdc.loadTableQuery.page - 1) * bdc.loadTableQuery.limit"
						 ng-if="bdc.dataStatus == 1">
							<td md-cell>{{data.loanRef}}</td>
							<td md-cell>{{data.fileHash}}</td>
							<td md-cell>{{data.status}}</td>
							<td md-cell>
								<span class="fa fa-download" ng-click="bdc.downloadDoc1(data)" style="cursor:pointer">
									<md-tooltip md-direction="left"> Download </md-tooltip>
								</span>
							</td>
						</tr>
						<tr md-row md-auto-select ng-if="bdc.dataStatus == 2 || bdc.dataStatus != 1 && bdc.dataStatus != 2">
							<td md-cell colspan="4" ng-if="bdc.dataStatus == 2" style="color:#2B593E !important; font-weight:bold;" ng-bind="bdc.loadErrorMsg"></td>
							<td md-cell colspan="4" ng-if="bdc.dataStatus != 1 && bdc.dataStatus != 2" style="color:red !important; font-weight:bold;"
							 ng-bind="bdc.loadErrorMsg"></td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination md-limit="bdc.loadTableQuery.limit" md-limit-options="[5, 10, 15]" md-page="bdc.loadTableQuery.page"
			 md-total="{{bdc.loadHistory.length}}"></md-table-pagination>
		</div>
	</div>