<div>
  <br>
  <md-expansion-panel-group md-component-id="panelGroup">
    <md-expansion-panel md-component-id="subscriptionPanel">
      <md-expansion-panel-collapsed style="cursor: pointer;">
        <div class="md-title expansionHeader">Subscription</div>
        <div flex></div>
        <md-expansion-panel-icon style="cursor:pointer;"></md-expansion-panel-icon>
      </md-expansion-panel-collapsed>
      <md-expansion-panel-expanded>
        <md-expansion-panel-header ng-click="lsc.collapse($panel, lenderSubscriptionForm)">
          <div class="md-title expansionHeader">Subscription</div>
          <div flex></div>
          <md-expansion-panel-icon style="cursor:pointer;" ng-click="lsc.collapse($panel, lenderSubscriptionForm)"></md-expansion-panel-icon>
        </md-expansion-panel-header>
        <md-expansion-panel-content>
          <form class="form-horizontal" name="lenderSubscriptionForm">
            <div ng-show="lsc.dataAvailable==true">
              <div class="form-group row">
                <label class="control-label col-sm-2" for="loanRef">Loan Reference:</label>
                <div class="col-sm-4">
                  <select class="browser-default custom-select form-control" name="loanRef" ng-model="lsc.loanRef" ng-change="lsc.getSubscription(lsc.loanRef)">
                    <option value="" selected="selected" disabled>Please select Loan Reference</option>
                    <option value={{data}} ng-repeat="data in lsc.LoanRefernce">{{data}}</option>
                  </select>
                </div>
              </div>
              <div ng-show="lsc.loanRef">
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="subscriptionRef">Subscription Reference:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="lsc.subscriptionRef" id="subscriptionRef" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="subscription">Subscription Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="lsc.subscription" id="subscription" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tenure" class="col-sm-2 control-label">Start Date:</label>
                  <div class="col-sm-4">
                    <input type="text" id="startDate" ng-model="lsc.startDate" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="tenure" class="col-sm-2 control-label">End Date:</label>
                  <div class="col-sm-4">
                    <input type="text" id="endDate" ng-model="lsc.endDate" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="loanAmount" class="control-label col-sm-2">Loan Amount:</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="lsc.currency" disabled>
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="lsc.loanAmount" ng-required="true" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="tenor">Tenor:</label>
                  <div class="col-sm-4">
                    <input type="number" class="form-control" ng-model="lsc.tenor" id="tenor" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="termSheet">Term Sheet:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="lsc.termSheet" id="termSheet" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="lenderName">Lender Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="lenderName" id="lenderName" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2" for="leadArrangerName">Lead Arranger Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" ng-model="lsc.leadArrangerName" id="leadArrangerName" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-sm-2">Subscription Amount:</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="lsc.currency1" ng-required="true" disabled>
                  </div>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="lsc.subscribedAmount" ng-required="true">
                  </div>
                </div>

                <br>
                <div class="form-group row">
                  <div class="col-sm-2 offset-sm-3">
                    <button type="submit" class="btn btn-success btn-block" ng-click="lsc.subscribe()">Subscribe</button>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="lsc.dataAvailable==false" style="color:red !important; font-weight:bold;">No New Subscriptions to Approve</div>
          </form>
        </md-expansion-panel-content>
      </md-expansion-panel-expanded>
    </md-expansion-panel>
  </md-expansion-panel-group>
  <br>
  <div class="panel panel-default customPanel">
    <div class="panel-heading md-title tableHeading">Subscription History</div>
    <div class="panel-body">
      <md-table-container>
        <table md-table md-progress="lsc.loadPromise">
          <thead md-head>
            <tr md-row>
              <th md-column>Loan Ref.</th>
              <th md-column>Subscription Ref.</th>
              <th md-column>Start Date</th>
              <th md-column>End Date</th>
              <th md-column>Loan Amount</th>
              <th md-column>Tenor</th>
              <th md-column>Amount Subscribed</th>
              <th md-column>Term Sheet</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="data" md-select-id="data" md-auto-select ng-repeat="data in lsc.loadHistory | limitTo: lsc.loadTableQuery.limit: (lsc.loadTableQuery.page - 1) * lsc.loadTableQuery.limit"
              ng-if="lsc.dataStatus == 1">
              <td md-cell>{{data.loanRef}}</td>
              <td md-cell>{{data.subscriptionId}}</td>
              <td md-cell>{{data.startDate}}</td>
              <td md-cell>{{data.endDate}}</td>
              <td md-cell>USD {{data.loanAmount}} million</td>
              <td md-cell>{{data.tenure}}</td>
              <td md-cell>USD {{data.subscriptionAmount}} million</td>
              <td md-cell>
                <span class="fa fa-download" ng-click="lsc.downloadDoc(data.loanRef)" style="cursor:pointer">
                  <md-tooltip md-direction="left"> Download </md-tooltip>
                </span>
              </td>
            </tr>
            <tr md-row md-auto-select ng-if="lsc.dataStatus == 2 || lsc.dataStatus != 1 && lsc.dataStatus != 2">
              <td md-cell colspan="4" ng-if="lsc.dataStatus == 2" style="color:#2B593E !important; font-weight:bold;" ng-bind="lsc.loadErrorMsg"></td>
              <td md-cell colspan="4" ng-if="lsc.dataStatus != 1 && lsc.dataStatus != 2" style="color:red !important; font-weight:bold;"
                ng-bind="lsc.loadErrorMsg"></td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="lsc.loadTableQuery.limit" md-limit-options="[5, 10, 15]" md-page="lsc.loadTableQuery.page"
        md-total="{{lsc.loadHistory.length}}"></md-table-pagination>
    </div>
  </div>